html {
  background-color: rgb(55, 138, 194);
  font-family: "Righteous", cursive;
}

.search {
  width: 100%;
  margin-top: 50px;
  border-radius: 5px;
  font-family: "Righteous", cursive;
}

.button {
  margin-top: 20px;
  background-color: #2d3748;
  font-family: "Righteous", cursive;
  border-radius: 5px;
  color: white;
  width: 90px;
  height: 25px;
}

.button:hover {
  background-color: #1a202c;
}

.container {
  max-width: 400px;
  margin: 0 auto;
}

.container_weather {
  background-color: #1a202c;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  color: white;
}

.weather {
  background-color: #2d3748;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.form-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item__weather {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.day {
  display: flex;
  justify-content: space-around;
  align-items: center;
}/*# sourceMappingURL=styles.css.map */