$col-background: rgb(55, 138, 194);
$col-app: #2d3748;
$top-col-app: #1a202c;
$col-text: white;
$border-rad: 5px;


@mixin center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin app-width($width: 400px) {
    max-width: $width;
    margin: 0 auto;
}