@import 'variables';

html {
    background-color: $col-background;
    font-family: 'Righteous', cursive;
}

.search {
    width: 100%;
    margin-top: 50px;
    border-radius: $border-rad;
    font-family: 'Righteous', cursive;
}

.button {
    margin-top: 20px;
    background-color: $col-app;
    font-family: 'Righteous', cursive;
    border-radius: $border-rad;
    color: $col-text;
    width: 90px;
    height: 25px;
}

.button:hover {
    background-color: $top-col-app;
}

.container {
    @include app-width;
}

.container_weather {
    background-color: $top-col-app;
    width: 100%;
    height: 100%;
    border-radius: $border-rad;
    color: $col-text;
}

.weather {
    background-color: $col-app;
    border-bottom-left-radius: $border-rad;
    border-bottom-right-radius: $border-rad;
}

.form-widget {
    @include center;
}

.item__weather {
    @include space-around;
}

.day {
    @include space-around;
}

